{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="StyleSheet.css">
    <title>{% block title %} Travel and Training Approval {% endblock %}</title>
    <div class="Full-Form">
        <div class="Form-Left">
            <div class="formStart">
                <h1>Requests</h1>
                <input list="Employee" class="form1" placeholder="Name" name="Employee-Name">
                <datalist id="Employee">
                    <option>Jake Parrish</option>
                    <option>Pete Koza</option>
                </datalist>
                <input list="Employer" class="form1" placeholder="Employer" name="Employer-Name">
                <datalist id="Employer">
                    <option>Aerodyne</option>
                    <option>BQMI</option>
                    <option>Peerless</option>
                </datalist>
                <p></p>
                <input list="Work-Order-Lead" class="form1" placeholder="Work Order Lead" name="Work-Order-Lead">
                <datalist id="Work-Order-Lead-List">
                    <option>Jake Parrish</option>
                    <option>Pete Koza</option>
                </datalist>
                <input list="Company-Supervisor" class="form1" placeholder="Company Supervisor" name="Company-Supervisor">
                <datalist id="Company-Supervisor-List">
                    <option>Jake Parrish</option>
                    <option>Pete Koza</option>
                </datalist>
                <input list="Work-Order-Manager" class="form1" placeholder="Work Order Manager" name="Work-Order-Manager">
                <datalist id="Work-Order-Manager-List">
                    <option>Jake Parrish</option>
                    <option>Pete Koza</option>
                </datalist>
                <p></p>
                <input type="text" class="form1" placeholder="Purpose..." name="Purpose-For-Request">
            </div>
            <div>
                <h1>Training</h1>
                <input type="text" class="form1" placeholder="Training Title" name="Training-Title">
                <input type="date" class="form1" value="2022-06-01" min="2018-01-01" max="2030-12-31" name="Training-Start-Calendar">
                <input type="date" class="form1" value="2022-07-01" min="2018-01-01" max="2030-12-31" name="Training-End-Calendar">
                <p></p>
                <label for="Certification">Certification</label>
                <p></p>
                <input type="checkbox" class="form1" name="Certification">
            </div>
            <div>
                <h1>Travel</h1>
                <input type="text" class="form1" placeholder="City" name="Travel-City">
                <input type="text" class="form1" placeholder="State" name="Travel-State">
                <input type="date" class="form1" value="2022-06-01" min="2018-01-01" max="2030-12-31" name="Travel-Start-Calendar">
                <input type="date" class="form1" value="2022-07-01" min="2018-01-01" max="2030-12-31" name="Travel-End-Calendar">
            </div>
        </div>

        <div class="Right-Form">
            <h1>Test</h1>
        </div>
    </div>
{% endblock %}